<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kun.auth.system.project.mapper.SysProjectMapper">

<!--    通过项目id查询项目详细信息-->
    <select id = "getProjectInfoByProjectNo" resultType="cn.kun.base.api.entity.auth.vo.SysProjectInfoVO">
        SELECT
            sp.id projectId,
            sp.project_no projectNo,
            sp.area_id areaId,
            sp.`name` projectName,
            sp.coordinate coordinate,
            sp.abbreviation abbreviation,
            spd.id projectDetailId,
            sp.industry industry,
            spd.sale_status saleStatus
        FROM
            sys_project sp
                LEFT JOIN sys_project_detail spd ON sp.project_no = spd.project_no
        WHERE
            sp.del_flag = 0
            AND sp.project_no = #{projectNo}
    </select>

    <!--    通过内部角色id查询项目权限-->
    <select id="getRoleProjectInnerAuth" resultType="cn.kun.auth.system.project.entity.vo.ProjectRedisVO">
        SELECT
            sp.id projectId,
            sp.project_no projectNo,
            sp.area_id areaId,
            sp.`name` projectName,
            sp.coordinate coordinate,
            sp.abbreviation abbreviation,
            spd.id projectDetailId,
            sp.industry industry,
            spd.sale_status saleStatus
        FROM
            sys_project sp
        LEFT JOIN sys_project_detail spd ON sp.project_no = spd.project_no
        LEFT JOIN sys_role_project_inner srpi ON sp.project_no = srpi.project_no
        AND srpi.del_flag = '0'
        LEFT JOIN sys_role_inner sri on sri.id = srpi.role_inner_id
        and sri.del_flag = 0
        WHERE
         sp.del_flag = 0
        <if test="roleInnerId != null">
            AND sri.id = #{roleInnerId}
        </if>

    </select>

    <!--    通过外部角色id查询项目权限信息-->
    <select id="getRoleProjectOuterAuth" resultType="cn.kun.auth.system.project.entity.vo.ProjectRedisVO">
        SELECT
        sp.id projectId,
        sp.project_no projectNo,
        sp.area_id areaId,
        sp.`name` projectName,
        sp.coordinate coordinate,
        sp.abbreviation abbreviation,
        spd.id projectDetailId,
        sp.industry industry,
        spd.sale_status saleStatus
        FROM
        sys_project sp
        LEFT JOIN sys_project_detail spd ON sp.project_no = spd.project_no
        LEFT JOIN sys_role_project_outer srpo ON sp.project_no = srpo.project_no
        AND srpo.del_flag = '0'
        LEFT JOIN sys_role_outer sro on sro.id = srpo.role_outer_id
        and sro.del_flag = 0
        WHERE
        sp.del_flag = 0
        <if test="roleOuterId != null">
            AND sro.id = #{roleOuterId}
        </if>

    </select>

<!--    内部用户-项目分页-->
    <select id="selectInnerPage" resultType="cn.kun.auth.system.project.entity.vo.ProjectPageVO">
        SELECT * from (SELECT
            sp.id,
            sp.id as "value",
            sp.project_no projectNo,
            sp.parent_id AS "parentId",
            sp.parent_id AS "parentValue",
            sp.parent_ids AS "parentIds",
            sp.parent_ids AS "parentValues",
            sp.`name`,
            sp.area_id as "areaId",
            sp.coordinate,
            sp.abbreviation abbreviation,
            sp.industry,
            spd.sale_status saleStatus,
            sp.remarks as  "remarks",
            sp.update_name updateName,
            sp.update_date updateDate
        FROM
        sys_project sp
        LEFT JOIN sys_user_project_inner supi ON supi.project_no = sp.project_no
        AND supi.del_flag = 0
        LEFT JOIN sys_project_detail spd ON spd.project_no = sp.project_no
        AND spd.del_flag = '0'
        LEFT JOIN sys_user_inner sui ON sui.id = supi.user_inner_id
        and sui.del_flag = 0
        <where>
            sp.del_flag = 0
            <if test="dto.userId != null">
                AND sui.id = #{dto.userId}
            </if>
            <if test="dto.projectNo != null and dto.projectNo != ''">
                AND sp.project_no = #{dto.projectNo}
            </if>
            <if test="dto.name != null and dto.name != ''">
                AND sp.NAME LIKE concat( '%', #{dto.name}, '%' )
            </if>
            <if test="dto.abbreviation != null and dto.abbreviation != ''">
                AND sp.abbreviation = #{dto.abbreviation}
            </if>
            <if test="dto.areaId != null">
                AND sp.area_id = #{dto.areaId}
            </if>
            <if test="dto.industry != null and dto.industry != ''">
                AND sp.industry = #{dto.industry}
            </if>
            <if test="dto.saleStatus != null and dto.saleStatus != ''">
                AND spd.sale_status = #{dto.saleStatus}
            </if>
        </where>
        UNION
        SELECT
            sp.id,
            sp.id as "value",
            sp.project_no projectNo,
            sp.parent_id AS "parentId",
            sp.parent_id AS "parentValue",
            sp.parent_ids AS "parentIds",
            sp.parent_ids AS "parentValues",
            sp.`name`,
            sp.area_id as "areaId",
            sp.coordinate,
            sp.abbreviation abbreviation,
            sp.industry,
            spd.sale_status saleStatus,
            sp.remarks as  "remarks",
            sp.update_name updateName,
            sp.update_date updateDate
        FROM
        sys_project sp
        LEFT JOIN sys_role_project_inner srpi ON srpi.project_no = sp.project_no
        AND srpi.del_flag = 0
        LEFT JOIN sys_user_role_inner suri ON suri.role_inner_id = srpi.role_inner_id
        AND suri.del_flag = 0
        LEFT JOIN sys_role_inner sri on sri.id = suri.role_inner_id
        LEFT JOIN sys_user_inner sui on sui.id = suri.user_inner_id
        and sui.del_flag = 0
        LEFT JOIN sys_project_detail spd ON spd.project_no = sp.project_no
        AND spd.del_flag = '0'
        <where>
            sp.del_flag = 0 and sri.del_flag = 0
            <if test="dto.userId != null">
                AND sui.id = #{dto.userId}
            </if>
            <if test="dto.projectNo != null and dto.projectNo != ''">
                AND sp.project_no = #{dto.projectNo}
            </if>
            <if test="dto.name != null and dto.name != ''">
                AND sp.NAME LIKE concat( '%', #{dto.name}, '%' )
            </if>
            <if test="dto.abbreviation != null and dto.abbreviation != ''">
                AND sp.abbreviation = #{dto.abbreviation}
            </if>
            <if test="dto.areaId != null">
                AND sp.area_id = #{dto.areaId}
            </if>
            <if test="dto.industry != null and dto.industry != ''">
                AND sp.industry = #{dto.industry}
            </if>
            <if test="dto.saleStatus != null and dto.saleStatus != ''">
                AND spd.sale_status = #{dto.saleStatus}
            </if>
        </where> ) vo
        <choose>
            <when test="dto.orderBy != null and dto.orderBy != ''">
                order by ${dto.orderBy}
            </when>
            <otherwise>
                order by vo.updateDate desc
            </otherwise>
        </choose>
    </select>

    <!--    外部用户-项目分页-->
    <select id="selectOuterPage" resultType="cn.kun.auth.system.project.entity.vo.ProjectPageVO">
        SELECT * from (SELECT
            sp.id,
            sp.id as "value",
            sp.project_no projectNo,
            sp.parent_id AS "parentId",
            sp.parent_id AS "parentValue",
            sp.parent_ids AS "parentIds",
            sp.parent_ids AS "parentValues",
            sp.`name`,
            sp.area_id as "areaId",
            sp.coordinate,
            sp.abbreviation abbreviation,
            sp.industry,
            spd.sale_status saleStatus,
            sp.remarks as  "remarks",
            sp.update_by updateByName,
            sp.update_date updateDate
        FROM
        sys_project sp
        LEFT JOIN sys_user_project_outer supo ON supo.project_no = sp.project_no
        AND supo.del_flag = 0
        LEFT JOIN sys_project_detail spd ON spd.project_no = sp.project_no
        AND spd.del_flag = '0'
        LEFT JOIN sys_user_outer suo ON suo.id = supo.user_outer_id
        and suo.del_flag = 0
        <where>
            sp.del_flag = 0
            <if test="dto.userId != null">
                AND suo.id = #{dto.userId}
            </if>
            <if test="dto.projectNo != null and dto.projectNo != ''">
                AND sp.project_no = #{dto.projectNo}
            </if>
            <if test="dto.name != null and dto.name != ''">
                AND sp.NAME LIKE concat( '%', #{dto.name}, '%' )
            </if>
            <if test="dto.abbreviation != null and dto.abbreviation != ''">
                AND sp.abbreviation = #{dto.abbreviation}
            </if>
            <if test="dto.areaId != null">
                AND sp.area_id = #{dto.areaId}
            </if>
            <if test="dto.industry != null and dto.industry != ''">
                AND sp.industry = #{dto.industry}
            </if>
            <if test="dto.saleStatus != null and dto.saleStatus != ''">
                AND spd.sale_status = #{dto.saleStatus}
            </if>
        </where>
        UNION
        SELECT
            sp.id,
            sp.id as "value",
            sp.project_no projectNo,
            sp.parent_id AS "parentId",
            sp.parent_id AS "parentValue",
            sp.parent_ids AS "parentIds",
            sp.parent_ids AS "parentValues",
            sp.`name`,
            sp.area_id as "areaId",
            sp.coordinate,
            sp.abbreviation abbreviation,
            sp.industry,
            spd.sale_status saleStatus,
            sp.remarks as  "remarks",
            sp.update_by updateByName,
            sp.update_date updateDate
        FROM
        sys_project sp
        LEFT JOIN sys_role_project_outer srpo ON srpo.project_no = sp.project_no
        AND srpo.del_flag = 0
        LEFT JOIN sys_user_role_outer suro ON suro.role_outer_id = srpo.role_outer_id
        AND suro.del_flag = 0
        LEFT JOIN sys_role_outer sro on sro.id = suro.role_outer_id
        LEFT JOIN sys_user_outer suo on suo.id = suro.user_outer_id
        and suo.del_flag = 0
        LEFT JOIN sys_project_detail spd ON spd.project_no = sp.project_no
        AND spd.del_flag = '0'
        <where>
            sp.del_flag = 0 and sro.del_flag = 0
            <if test="dto.userId != null">
                AND suo.id = #{dto.userId}
            </if>
            <if test="dto.projectNo != null and dto.projectNo != ''">
                AND sp.project_no = #{dto.projectNo}
            </if>
            <if test="dto.name != null and dto.name != ''">
                AND sp.NAME LIKE concat( '%', #{dto.name}, '%' )
            </if>
            <if test="dto.abbreviation != null and dto.abbreviation != ''">
                AND sp.abbreviation = #{dto.abbreviation}
            </if>
            <if test="dto.areaId != null">
                AND sp.area_id = #{dto.areaId}
            </if>
            <if test="dto.industry != null and dto.industry != ''">
                AND sp.industry = #{dto.industry}
            </if>
            <if test="dto.saleStatus != null and dto.saleStatus != ''">
                AND spd.sale_status = #{dto.saleStatus}
            </if>
        </where> ) vo
        <choose>
            <when test="dto.orderBy != null and dto.orderBy != ''">
                order by ${dto.orderBy}
            </when>
            <otherwise>
                order by vo.updateDate desc
            </otherwise>
        </choose>
    </select>


    <!--    根据内部用户获取当前用户所有项目信息-->
    <select id="selectProjectNoByUserInnerId" resultType="cn.kun.base.api.entity.auth.vo.ProjectParentVO">

        SELECT DISTINCT
            pro.id AS "id",
            pro.project_no AS "projectNo",
            pro.NAME AS "name",
            pro.parent_id AS "parentId",
            pro.parent_ids AS "parentIds"
        FROM
        sys_project pro,(
            SELECT
                pro.id AS "id",
                pro.parent_id AS "parentId",
                pro.parent_ids AS "parentIds"
            FROM
                sys_project pro
                LEFT JOIN sys_user_project_inner supi ON supi.project_no = pro.project_no
                AND supi.del_flag = '0'
                LEFT JOIN sys_user_inner sui ON sui.id = supi.user_inner_id
                AND sui.del_flag = '0'
            WHERE
                pro.del_flag = '0'
                <if test="userInnerId != null">
                    AND sui.id = #{userInnerId}
                </if>
            UNION
            SELECT
                pro.id AS "id",
                pro.parent_id AS "parentId",
                pro.parent_ids AS "parentIds"
            FROM
                sys_project pro
                LEFT JOIN sys_role_project_inner supi ON supi.project_no = pro.project_no
                AND supi.del_flag = '0'
                LEFT JOIN sys_role_inner sri ON sri.id = supi.role_inner_id
                AND sri.del_flag = '0'
                LEFT JOIN sys_user_role_inner suri ON sri.id = suri.role_inner_id
                AND suri.del_flag = '0'
                LEFT JOIN sys_user_inner sui ON sui.id = suri.user_inner_id
                AND sui.del_flag = '0'
            WHERE
                pro.del_flag = '0'
                <if test="userInnerId != null">
                    AND sui.id = #{userInnerId}
                </if>
            ) alls
        WHERE
            pro.del_flag = '0'
            AND (
            <![CDATA[ LOCATE( pro.id, alls.parentIds ) > 0 	OR pro.id = alls.id ]]>
            OR pro.id = alls.id
            )
    </select>

    <!--    根据外部用户获取当前用户所有项目信息-->
    <select id="selectProjectNoByUserOuterId" resultType="cn.kun.base.api.entity.auth.vo.ProjectParentVO">
        SELECT DISTINCT
            pro.id AS "id",
            pro.project_no AS "projectNo",
            pro.NAME AS "name",
            pro.parent_id AS "parentId",
            pro.parent_ids AS "parentIds"
        FROM
            sys_project pro,(
            SELECT
                pro.id AS "id",
                pro.parent_id AS "parentId",
                pro.parent_ids AS "parentIds"
            FROM
                sys_project pro
                    LEFT JOIN sys_user_project_outer supo ON supo.project_no = pro.project_no
                    AND supo.del_flag = '0'
                    LEFT JOIN sys_user_outer suo ON suo.id = supo.user_outer_id
                    AND suo.del_flag = '0'
                    LEFT JOIN sys_project parent ON parent.id = pro.parent_id
            WHERE
                pro.del_flag = '0'
                AND parent.del_flag = '0'
                <if test="userOuterId != null">
                    AND suo.id = #{userOuterId}
                </if>
            UNION
            SELECT
                pro.id AS "id",
                pro.parent_id AS "parentId",
                pro.parent_ids AS "parentIds"
            FROM
                sys_project pro
                    LEFT JOIN sys_role_project_outer srpo ON srpo.project_no = pro.project_no
                    AND srpo.del_flag = '0'
                    LEFT JOIN sys_role_outer sro ON sro.id = srpo.role_outer_id
                    AND sro.del_flag = '0'
                    LEFT JOIN sys_user_role_outer suro ON sro.id = suro.role_outer_id
                    AND suro.del_flag = '0'
                    LEFT JOIN sys_user_outer suo ON suo.id = suro.user_outer_id
                    AND suo.del_flag = '0'
                    LEFT JOIN sys_project parent ON parent.id = pro.parent_id
            WHERE
                pro.del_flag = '0'
                AND parent.del_flag = '0'
                <if test="userOuterId != null">
                    AND suo.id = #{userOuterId}
                </if>
        ) alls
        WHERE
            pro.del_flag = '0'
          AND (
            <![CDATA[ LOCATE( pro.id, alls.parentIds ) > 0 	OR pro.id = alls.id ]]>
            OR pro.id = alls.id
            )
    </select>

    <!--    根据 项目编号、公司id信息 获取当前项目有多少内部用户   旧版设计，目前保留，确定使用新版后删除-->
    <select id="selectInnerPersonnelInfoProjectNo" resultType="cn.kun.auth.system.user.entity.po.UserDetailList">
        SELECT DISTINCT
            sui.id AS "userId",
            sui.`name` AS "userName",
            sui.`login_name` as "loginName",
            sci.`id` AS "companyId",
            sci.`name` AS "companyName",
            sdi.`id` AS "deptId",
            sdi.`name` AS "deptName",
            sji.`id` AS "jobId",
            sji.`name` AS "jobName"
        FROM
            sys_user_inner sui
            LEFT JOIN sys_company_inner sci ON sci.id = sui.company_inner_id
            AND sci.del_flag = '0'
            LEFT JOIN sys_dept_inner sdi ON sdi.company_inner_id = sci.id
            AND sdi.del_flag = '0'
            LEFT JOIN sys_job_inner sji ON sji.dept_inner_id = sdi.id
            AND sji.del_flag = '0'
            LEFT JOIN sys_user_project_inner supi ON supi.user_inner_id = sui.id
            AND supi.del_flag = '0'
            LEFT JOIN sys_project sp on sp.project_no = supi.project_no
        WHERE
            sui.del_flag = '0'
                and sp.del_flag = '0'
            <if test="projectNo != null and projectNo != ''">
                AND supi.project_no = #{projectNo}
            </if>
            <if test="companyIds != null and companyIds.size > 0">
                AND sci.id IN
                <foreach item="item" index="index" collection="companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            GROUP BY
            sui.id
        UNION
        SELECT DISTINCT
            sui.id AS "userId",
            sui.`name` AS "userName",
            sui.`login_name` as "loginName",
            sci.`id` AS "companyId",
            sci.`name` AS "companyName",
            sdi.`id` AS "deptId",
            sdi.`name` AS "deptName",
            sji.`id` AS "jobId",
            sji.`name` AS "jobName"
        FROM
        sys_user_inner sui
        LEFT JOIN sys_company_inner sci ON sci.id = sui.company_inner_id
        AND sci.del_flag = '0'
        LEFT JOIN sys_dept_inner sdi ON sdi.company_inner_id = sci.id
        AND sdi.del_flag = '0'
        LEFT JOIN sys_job_inner sji ON sji.dept_inner_id = sdi.id
        AND sji.del_flag = '0'
        LEFT JOIN sys_user_role_inner suri ON suri.user_inner_id = sui.id
        AND suri.del_flag = '0'
        LEFT JOIN sys_role_inner sri ON sri.id = suri.role_inner_id
        AND sri.del_flag = '0'
        LEFT JOIN sys_role_project_inner srpi ON srpi.role_inner_id = sri.id
        AND srpi.del_flag = '0'
        LEFT JOIN sys_project sp on sp.project_no = srpi.project_no
        WHERE
            sui.del_flag = '0'
                and sp.del_flag = '0'
            <if test="projectNo != null and projectNo != ''">
                AND sp.project_no = #{projectNo}
            </if>
            <if test="companyIds != null and companyIds.size > 0">
                AND sci.id IN
                <foreach item="item" index="index" collection="companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            GROUP BY
            sui.id
    </select>


    <!--    根据 项目编号、公司id信息 获取当前项目有多少外部用户  旧版设计，目前保留，确定使用新版后删除-->
    <select id="selectOuterPersonnelInfoProjectNo" resultType="cn.kun.auth.system.user.entity.po.UserDetailList">
        SELECT DISTINCT
            suo.id AS "userId",
            suo.`name` AS "userName",
            suo.`login_name` as "loginName",
            sco.`id` AS "companyId",
            sco.`name` AS "companyName",
            sdo.`id` AS "deptId",
            sdo.`name` AS "deptName",
            sjo.`id` AS "jobId",
            sjo.`name` AS "jobName"
        FROM
            sys_user_outer suo
            LEFT JOIN sys_company_outer sco ON sco.id = suo.company_outer_id
            AND sco.del_flag = '0'
            LEFT JOIN sys_dept_outer sdo ON sdo.company_outer_id = sco.id
            AND sdo.del_flag = '0'
            LEFT JOIN sys_job_outer sjo ON sjo.dept_outer_id = sdo.id
            AND sjo.del_flag = '0'
            LEFT JOIN sys_user_project_outer supo ON supo.user_outer_id = suo.id
            AND supo.del_flag = '0'
            LEFT JOIN sys_project sp on sp.project_no = supo.project_no
        WHERE
            suo.del_flag = '0'
                and sp.del_flag = '0'
            <if test="projectNo != null and projectNo != ''">
                AND sp.project_no = #{projectNo}
            </if>
            <if test="companyIds != null and companyIds.size > 0">
                AND sco.id IN
                <foreach item="item" index="index" collection="companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        GROUP BY
        suo.id
        UNION
        SELECT DISTINCT
            suo.id AS "userId",
            suo.`name` AS "userName",
            suo.`login_name` as "loginName",
            sco.`id` AS "companyId",
            sco.`name` AS "companyName",
            sdo.`id` AS "deptId",
            sdo.`name` AS "deptName",
            sjo.`id` AS "jobId",
            sjo.`name` AS "jobName"
        FROM
            sys_user_outer suo
        LEFT JOIN sys_company_outer sco ON sco.id = suo.company_outer_id
        AND sco.del_flag = '0'
        LEFT JOIN sys_dept_outer sdo ON sdo.company_outer_id = sco.id
        AND sdo.del_flag = '0'
        LEFT JOIN sys_job_outer sjo ON sjo.dept_outer_id = sdo.id
        AND sjo.del_flag = '0'
        LEFT JOIN sys_user_role_outer suro ON suro.user_outer_id = suo.id
        AND suro.del_flag = '0'
        LEFT JOIN sys_role_outer sro ON sro.id = suro.role_outer_id
        AND sro.del_flag = '0'
        LEFT JOIN sys_role_project_outer srpo ON srpo.role_outer_id = sro.id
        AND srpo.del_flag = '0'
        LEFT JOIN sys_project sp on sp.project_no = srpo.project_no
        WHERE
            suo.del_flag = '0'
                and sp.del_flag = '0'
            <if test="projectNo != null and projectNo != ''">
                AND sp.project_no = #{projectNo}
            </if>
            <if test="companyIds != null and companyIds.size > 0">
                AND sco.id IN
                <foreach item="item" index="index" collection="companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        GROUP BY
        suo.id
    </select>

    <!--    项目-人员配置-分页功能-->
    <select id="selectInnerPersonnelInfoPage" resultType="cn.kun.auth.system.user.entity.vo.UserPersonnelPageVO">
        SELECT DISTINCT
            sui.id AS "userId",
            sui.`name` AS "userName",
            sui.`sex` AS "sex",
            sui.`login_name` AS "loginName",
            sudi.`phone` AS "phone",
            sci.`id` AS "companyId",
            sci.`name` AS "companyName",
            sji.`id` AS "jobId",
            sji.`name` AS "jobName"
        FROM
            sys_user_inner sui
            LEFT JOIN sys_user_detail_inner sudi ON sudi.user_inner_id = sui.id
            AND sudi.del_flag = '0'
            LEFT JOIN sys_user_job_inner suji ON suji.user_inner_id = sui.id
            AND suji.del_flag = '0'
            LEFT JOIN sys_job_inner sji ON sji.id = suji.job_inner_id
            AND sji.del_flag = '0'
            LEFT JOIN sys_company_inner sci ON sci.id = sui.company_inner_id
            AND sci.del_flag = '0'
            LEFT JOIN sys_user_project_inner supi ON supi.user_inner_id = sui.id
            AND supi.del_flag = '0'
            LEFT JOIN sys_project sp on sp.project_no = supi.project_no
        WHERE
            sui.del_flag = '0'
        AND sui.login_name &lt;&gt; 'sysadmin'
        AND sui.login_name &lt;&gt; #{loginName}
        and sp.del_flag = '0'
        <if test="dto.projectNo != null and dto.projectNo != ''">
            AND sp.project_no = #{dto.projectNo}
        </if>
        <if test="dto.companyIds != null and dto.companyIds.size > 0">
            AND sci.id IN
            <foreach item="item" index="index" collection="dto.companyIds"  open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        UNION
        SELECT DISTINCT
        sui.id AS "userId",
        sui.`name` AS "userName",
        sui.`sex` AS "sex",
        sui.`login_name` AS "loginName",
        sudi.`phone` AS "phone",
        sci.`id` AS "companyId",
        sci.`name` AS "companyName",
        sji.`id` AS "jobId",
        sji.`name` AS "jobName"
        FROM
            sys_user_inner sui
            LEFT JOIN sys_user_detail_inner sudi ON sudi.user_inner_id = sui.id
            AND sudi.del_flag = '0'
            LEFT JOIN sys_company_inner sci ON sci.id = sui.company_inner_id
            AND sci.del_flag = '0'
            LEFT JOIN sys_job_inner sji ON sji.company_inner_id = sci.id
            AND sji.del_flag = '0'
            LEFT JOIN sys_user_role_inner suri ON suri.user_inner_id = sui.id
            AND suri.del_flag = '0'
            LEFT JOIN sys_role_inner sri ON sri.id = suri.role_inner_id
        AND sri.del_flag = '0'
            LEFT JOIN sys_role_project_inner srpi ON srpi.role_inner_id = sri.id
            AND srpi.del_flag = '0'
            LEFT JOIN sys_project sp on sp.project_no = srpi.project_no
        WHERE
            sui.del_flag = '0'
                and sp.del_flag = '0'
            AND sui.login_name &lt;&gt; 'sysadmin'
            AND sui.login_name &lt;&gt; #{loginName}
            <if test="dto.projectNo != null and dto.projectNo != ''">
                AND sp.project_no = #{dto.projectNo}
            </if>
            <if test="dto.companyIds != null and dto.companyIds.size > 0">
                AND sci.id IN
                <foreach item="item" index="index" collection="dto.companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>


    <!--    项目-外部人员配置-分页功能-->
    <select id="outerPersonnelPage" resultType="cn.kun.auth.system.user.entity.vo.UserPersonnelPageVO">
        SELECT DISTINCT
            suo.id AS "userId",
            suo.`name` AS "userName",
            suo.`sex` AS "sex",
            suo.`login_name` AS "loginName",
            sudo.`phone` AS "phone",
            sco.`id` AS "companyId",
            sco.`name` AS "companyName",
            sjo.`id` AS "jobId",
            sjo.`name` AS "jobName"
        FROM
            sys_user_outer suo
            LEFT JOIN sys_user_detail_outer sudo ON sudo.user_outer_id = suo.id
            AND sudo.del_flag = '0'
            LEFT JOIN sys_user_job_outer sujo ON sujo.user_outer_id = suo.id
            AND sujo.del_flag = '0'
            LEFT JOIN sys_job_outer sjo ON sjo.id = sujo.job_outer_id
            AND sjo.del_flag = '0'
            LEFT JOIN sys_company_outer sco ON sco.id = suo.company_outer_id
            AND sco.del_flag = '0'
            LEFT JOIN sys_user_project_outer supo ON supo.user_outer_id = suo.id
            AND supo.del_flag = '0'
            LEFT JOIN sys_project sp on sp.project_no = supo.project_no
        WHERE
            suo.del_flag = '0'
            AND suo.login_name &lt;&gt; 'sysadmin'
            AND suo.login_name &lt;&gt; #{loginName}
                and sp.del_flag = '0'
            <if test="dto.projectNo != null and dto.projectNo != ''">
                AND sp.project_no = #{dto.projectNo}
            </if>
            <if test="dto.companyIds != null and dto.companyIds.size > 0">
                AND sco.id IN
                <foreach item="item" index="index" collection="dto.companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        UNION
        SELECT DISTINCT
            suo.id AS "userId",
            suo.`name` AS "userName",
            suo.`sex` AS "sex",
            suo.`login_name` AS "loginName",
            sudo.`phone` AS "phone",
            sco.`id` AS "companyId",
            sco.`name` AS "companyName",
            sjo.`id` AS "jobId",
            sjo.`name` AS "jobName"
        FROM
            sys_user_outer suo
        LEFT JOIN sys_user_detail_outer sudo ON sudo.user_outer_id = suo.id
        AND sudo.del_flag = '0'
        LEFT JOIN sys_company_outer sco ON sco.id = suo.company_outer_id
        AND sco.del_flag = '0'
        LEFT JOIN sys_job_outer sjo ON sjo.company_outer_id = sco.id
        AND sjo.del_flag = '0'
        LEFT JOIN sys_user_role_outer suro ON suro.user_outer_id = suo.id
        AND suro.del_flag = '0'
        LEFT JOIN sys_role_outer sro ON sro.id = suro.role_outer_id
        AND sro.del_flag = '0'
        LEFT JOIN sys_role_project_outer srpo ON srpo.role_outer_id = sro.id
        AND srpo.del_flag = '0'
        LEFT JOIN sys_project sp on sp.project_no = srpo.project_no
        WHERE
            suo.del_flag = '0'
            AND suo.login_name &lt;&gt; 'sysadmin'
            AND suo.login_name &lt;&gt; #{loginName}
                and sp.del_flag = '0'
            <if test="dto.projectNo != null and dto.projectNo != ''">
                AND sp.project_no = #{dto.projectNo}
            </if>
            <if test="dto.companyIds != null and dto.companyIds.size > 0">
                AND sco.id IN
                <foreach item="item" index="index" collection="dto.companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>

    <!--    查询内部角色-项目权限-->
    <select id="selectListByRoleInnerId" resultType="cn.kun.base.api.entity.auth.vo.ProjectParentVO">
        SELECT
        sp.id id,
        sp.`name` name,
        sp.project_no as "projectNo",
        sp.parent_id parentId,
        sp.parent_ids parentIds
        FROM
        sys_project sp
        LEFT JOIN sys_role_project_inner srpi ON sp.project_no = srpi.project_no
        AND srpi.del_flag = '0'
        LEFT JOIN sys_role_inner sri on sri.id = srpi.role_inner_id
        WHERE
        sp.del_flag = 0
            and sri.del_flag = 0
        <if test="roleInnerId != null">
            and srpi.role_inner_id = #{roleInnerId}
        </if>
    </select>

    <!--    查询外部角色-项目权限-->
    <select id="selectListByRoleOuterId" resultType="cn.kun.base.api.entity.auth.vo.ProjectParentVO">
        SELECT
        sp.id id,
        sp.`name` name,
        sp.project_no as "projectNo",
        sp.parent_id parentId,
        sp.parent_ids parentIds
        FROM
        sys_project sp
        LEFT JOIN sys_role_project_outer srpo ON sp.project_no = srpo.project_no
        AND srpo.del_flag = '0'
        LEFT JOIN sys_role_outer sro on sro.id = srpo.role_outer_id
        WHERE
        sp.del_flag = 0
            and sro.del_flag = 0
        <if test="roleOuterId != null">
            and srpo.role_outer_id = #{roleOuterId}
        </if>
    </select>

    <!--    根据 项目编号、公司id信息 获取当前项目有多少内部用户-->
    <select id="innerPersonnelProject" resultType="cn.kun.auth.system.user.entity.po.UserDetailList">
        SELECT DISTINCT
            sui.id AS "userId",
            sui.id AS "value",
            sui.`name` AS "userName",
            sui.`login_name` as "loginName",
            sci.`id` AS "companyId",
            sci.`name` AS "companyName",
            sdi.`id` AS "deptId",
            sdi.`name` AS "deptName",
            sji.`id` AS "jobId",
            sji.`name` AS "jobName"
        FROM
            sys_user_inner sui
            LEFT JOIN sys_user_job_inner suji ON suji.user_inner_id = sui.id
            AND suji.del_flag = '0'
            LEFT JOIN sys_job_inner sji ON sji.id = suji.job_inner_id
            LEFT JOIN sys_dept_inner sdi ON sji.dept_inner_id = sdi.id
            AND sdi.del_flag = '0'
            LEFT JOIN sys_company_inner sci ON sci.id = sui.company_inner_id
            AND sci.del_flag = '0'
            LEFT JOIN sys_user_project_inner supi ON supi.user_inner_id = sui.id
            AND supi.del_flag = '0'
            LEFT JOIN sys_project sp on sp.project_no = supi.project_no
        WHERE
        sui.del_flag = '0'
        AND sji.del_flag = '0'
            and sp.del_flag = '0'
        <if test="projectNo != null and projectNo != ''">
            AND sp.project_no = #{projectNo}
        </if>
        <if test="companyId != null">
            AND sci.id = #{companyId}
        </if>
    </select>


    <!--    根据 项目编号、公司id信息 获取当前项目有多少外部用户-->
    <select id="outerPersonnelProject" resultType="cn.kun.auth.system.user.entity.po.UserDetailList">
        SELECT DISTINCT
            suo.id AS "userId",
            suo.id AS "value",
            suo.`name` AS "userName",
            suo.`login_name` as "loginName",
            sco.`id` AS "companyId",
            sco.`name` AS "companyName",
            sdo.`id` AS "deptId",
            sdo.`name` AS "deptName",
            sjo.`id` AS "jobId",
            sjo.`name` AS "jobName"
        FROM
        sys_user_outer suo
            LEFT JOIN sys_user_job_outer sujo ON sujo.user_outer_id = suo.id
            AND sujo.del_flag = '0'
            LEFT JOIN sys_job_outer sjo ON sjo.id = sujo.job_outer_id
            LEFT JOIN sys_dept_outer sdo ON sdo.id = sjo.dept_outer_id
            AND sdo.del_flag = '0'
            LEFT JOIN sys_company_outer sco ON sco.id = suo.company_outer_id
            AND sco.del_flag = '0'
            LEFT JOIN sys_user_project_outer supo ON supo.user_outer_id = suo.id
            AND supo.del_flag = '0'
            LEFT JOIN sys_project sp on sp.project_no = supo.project_no
        WHERE
            suo.del_flag = '0'
        AND sjo.del_flag = '0'
                and sp.del_flag = '0'
            <if test="projectNo != null and projectNo != ''">
                AND sp.project_no = #{projectNo}
            </if>
            <if test="companyId != null">
                AND sco.id = #{companyId}
            </if>
    </select>

<!--    通过项目项目列表查询项目信息-->
    <select id="selectInfoByProjectNoList" resultType="cn.kun.base.api.entity.auth.vo.SysProjectInfoVO">
        SELECT
            sp.id,
            sp.project_no projectNo,
            sp.parent_id AS "parentId",
            sp.`name` AS "projectName",
            sp.area_id as "areaId",
            sp.coordinate,
            sp.abbreviation abbreviation,
            sp.industry,
            sp.remarks as  "remarks"
        FROM
            sys_project sp
        where
            sp.del_flag = 0
        <if test="projectNoList != null and projectNoList.size > 0">
            and sp.project_no in
            <foreach item="item" index="index" collection="projectNoList"  open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
