<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kun.auth.company.mapper.SysCompanyInnerMapper">
    <select id="getCompanyInfoByCompanyId" resultType="cn.kun.base.api.entity.auth.vo.SysCompanyInfoVO">
        SELECT
            sci.id companyId,
            sci.`name` companyName,
            sci.parent_id parentId,
            sci.area_id areaId,
            sci.type type,
            sci.logo logo
        FROM
            sys_company_inner sci
                LEFT JOIN sys_company_detail_inner scdi ON sci.id = scdi.company_inner_id
        WHERE
        <if test="companyId != null">
            sci.id = #{companyId}
        </if>
          AND sci.del_flag = 0
    </select>
    <!--  公司分页-->
    <select id="selectPage" resultType="cn.kun.auth.company.entity.vo.CompanyPageVO">
        SELECT
            *
        FROM
        (
            SELECT
            sci.id,
            sci.id AS "value",
            sci.`name`,
            sci.`industry` AS "industry",
            sci.type,
            sci.parent_id AS "parentId",
            sci.parent_ids AS "parentIds",
            sci.parent_id AS "parentValue",
            sci.parent_ids AS "parentValues",
            sci.area_id AS "areaId",
            sci.update_name AS "updateName",
            sci.update_date AS "updateDate",
            sci.remarks AS "remarks"
            FROM
            sys_company_inner sci
            LEFT JOIN sys_user_inner sui ON sui.company_inner_id = sci.id
            AND sui.del_flag = 0
            <where>
                sci.del_flag = 0
                <if test="dto.userId != null">
                    AND sui.id = #{dto.userId}
                </if>
                <if test=" dto.name != null and dto.name != ''">
                    AND sci.NAME LIKE concat( '%', #{dto.name}, '%' )
                </if>
                <if test="dto.type != null and dto.type != ''">
                    AND sci.type = #{dto.type}
                </if>
                <if test="dto.areaId != null">
                    AND sci.area_id = #{dto.areaId}
                </if>
            </where>
            UNION
            SELECT
            sci.id,
            sci.id AS "value",
            sci.`name`,
            sci.`industry` AS "industry",
            sci.type,
            sci.parent_id AS "parentId",
            sci.parent_ids AS "parentIds",
            sci.parent_id AS "parentValue",
            sci.parent_ids AS "parentValues",
            sci.area_id AS "areaId",
            sci.update_name AS "updateName",
            sci.update_date AS "updateDate",
            sci.remarks AS "remarks"
            FROM
            sys_company_inner sci
            LEFT JOIN sys_role_inner sri ON sri.company_inner_id = sci.id
            AND sri.del_flag = 0
            LEFT JOIN sys_user_role_inner suri ON suri.role_inner_id = sri.id
            AND suri.del_flag = 0
            LEFT JOIN sys_user_inner sui ON sui.id = suri.user_inner_id
            AND sui.del_flag = '0'
            <where>
                sci.del_flag = 0
                <if test="dto.userId != null">
                    AND sui.id = #{dto.userId}
                </if>
                <if test="dto.name != null and dto.name != ''">
                    AND sci.NAME LIKE concat( '%', #{dto.name}, '%' )
                </if>
                <if test="dto.type != null and dto.type != ''">
                    AND sci.type = #{dto.type}
                </if>
                <if test="dto.areaId != null">
                    AND sci.area_id = #{dto.areaId}
                </if>
            </where>
            ) sci
        <choose>
            <when test="dto.orderBy != null and dto.orderBy != ''">
                order by ${dto.orderBy}
            </when>
            <otherwise>
                order by sci.updateDate DESC
            </otherwise>
        </choose>
    </select>

<!--    查询内部用户所拥有的内部公司信息-->
    <select id="selectInnerParent" resultType="cn.kun.auth.company.entity.vo.CompanyInfoVO">
        SELECT
            sci.id as "companyId",
            sci.parent_id as "0",
            sci.parent_ids as "0,",
            sci.`name` as "companyName"
        FROM
            sys_company_inner sci
                LEFT JOIN sys_user_inner sui ON sui.company_inner_id = sci.id
                AND sui.del_flag = '0'
        WHERE
            sci.del_flag = '0'
            <if test="loginName != null and loginName != ''">
                AND sui.login_name = #{loginName}
            </if>
        UNION
        SELECT
            sci.id as "companyId",
            sci.parent_id as "parentId",
            sci.parent_ids as "parentIds",
            sci.`name` as "companyName"
        FROM
            sys_company_inner sci
                LEFT JOIN sys_role_inner sri ON sri.company_inner_id = sci.id
                AND sri.del_flag = '0'
                LEFT JOIN sys_user_role_inner suri ON suri.role_inner_id = sri.id
                AND suri.del_flag = '0'
                LEFT JOIN sys_user_inner sui ON sui.id = suri.user_inner_id
                AND sui.del_flag = '0'
        WHERE
            sci.del_flag = '0'
            <if test="loginName != null and loginName != ''">
                AND sui.login_name = #{loginName}
            </if>
    </select>

    <!--    人员配置：获取当前用户所拥有的所有公司信息、部门信息、职位信息的用户  -->
    <select id="selectCompanyInfoByLoginName" resultType="cn.kun.base.core.global.entity.vo.BaseSelectVO">
        SELECT DISTINCT
            comp.`id` AS "value",
            comp.`name` AS "label",
            "company" AS "type",
            comp.`parent_id` AS "parentValue",
            comp.`parent_ids` AS "parentValues"
        FROM
            sys_company_inner comp,
            (
                SELECT DISTINCT
                    comp.id,
                    comp.parent_id,
                    comp.parent_ids
                FROM
                    sys_company_inner comp
                        LEFT JOIN sys_dept_inner dept ON comp.id = dept.company_inner_id
                        LEFT JOIN sys_user_inner sui ON sui.company_inner_id = comp.id
                        AND sui.del_flag = '0'
                WHERE
                    comp.del_flag = '0'
                  AND dept.del_flag = '0'
                  <if test="loginName != null and loginName != ''">
                      AND sui.login_name = #{loginName}
                  </if>
                UNION
                SELECT DISTINCT
                    comp.id,
                    comp.parent_id,
                    comp.parent_ids
                FROM
                    sys_company_inner comp
                        LEFT JOIN sys_dept_inner dept ON comp.id = dept.company_inner_id
                        LEFT JOIN sys_role_inner sri ON sri.company_inner_id = comp.id
                        AND sri.del_flag = '0'
                        LEFT JOIN sys_user_role_inner suri ON suri.role_inner_id = sri.id
                        AND suri.del_flag = '0'
                        LEFT JOIN sys_user_inner sui ON sui.id = suri.user_inner_id
                        AND sui.del_flag = '0'
                WHERE
                    comp.del_flag = '0'
                    AND dept.del_flag = '0'
                    <if test="loginName != null and loginName != ''">
                        AND sui.login_name = #{loginName}
                    </if>
            ) alls
        WHERE
            comp.del_flag = '0'
          AND (
                 <![CDATA[ LOCATE( comp.id, alls.parent_ids ) > 0 	OR comp.id = alls.id ]]>
                OR comp.id = alls.id
            )
    </select>
<!-- 根据公司id获取公司信息-->
    <select id="getCompanyInfoTree" resultType="cn.kun.base.core.global.entity.vo.BaseSelectVO">
        SELECT DISTINCT
            comp.`id` AS "value",
            comp.`name` AS "label",
            "company" AS "type",
            comp.`parent_id` AS "0",
            comp.`parent_ids` AS "0,"
        FROM
            sys_company_inner comp
        WHERE comp.del_flag = '0'
            <if test="companyId != null">
                AND comp.id = #{companyId}
            </if>
    </select>

<!-- 角色树状图- 根据用户登录名查看有角色的公司信息 -->
    <select id="selectRoleInfoByLoginName" resultType="cn.kun.base.core.global.entity.vo.BaseSelectVO">
        SELECT DISTINCT
            comp.`id` AS "value",
            comp.`name` AS "label",
            "company" AS "type",
            comp.`parent_id` AS "parentValue",
            comp.`parent_ids` AS "parentValues"
        FROM
            sys_company_inner comp,
            (
            SELECT DISTINCT
                comp.id,
                comp.parent_id,
                comp.parent_ids
            FROM
                sys_company_inner comp
                LEFT JOIN sys_role_inner role on role.company_inner_id = comp.id
                LEFT JOIN sys_user_role_inner uri ON uri.role_inner_id = role.id
                AND uri.del_flag = '0'
                LEFT JOIN sys_user_inner sui ON sui.id = uri.user_inner_id
                AND sui.del_flag = '0'
            WHERE
                comp.del_flag = '0'
                AND role.del_flag = '0'
                <if test="loginName != null and loginName != ''">
                    AND sui.login_name = #{loginName}
                </if>
            UNION
            SELECT DISTINCT
                comp.id,
                comp.parent_id,
                comp.parent_ids
            FROM
                sys_company_inner comp
                LEFT JOIN sys_user_inner sui ON sui.company_inner_id = comp.id
                AND sui.del_flag = '0'
            WHERE
                comp.del_flag = '0'
                <if test="loginName != null and loginName != ''">
                    AND sui.login_name = #{loginName}
                </if>
        ) alls
        WHERE
            comp.del_flag = '0'
            AND (
            <![CDATA[ LOCATE( comp.id, alls.parent_ids ) > 0 	OR comp.id = alls.id ]]>
            OR comp.id = alls.id
            )
    </select>
</mapper>
