<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kun.auth.dept.mapper.SysDeptInnerMapper">
<!--分页查询-->
    <select id="selectPage" resultType="cn.kun.auth.dept.entity.vo.DeptPageVO">
        SELECT DISTINCT
            dept.id AS "id",
            dept.`id` "value",
            dept.company_inner_id AS "companyId",
            dept.parent_id AS "parentId",
            dept.parent_id AS "parentValue",
            dept.parent_ids AS "parentIds",
            dept.parent_ids AS "parentValues",
            dept.`name` AS "name",
            alls.`company` AS "company",
            dept.update_name AS "updateName",
            dept.update_date AS "updateDate"
        FROM
            sys_dept_inner dept,(
            SELECT
                sdi.id AS "id",
                sdi.parent_id AS "parentId",
                sdi.parent_ids AS "parentIds",
                sci.`name` "company"
        FROM
                sys_dept_inner sdi
                LEFT JOIN sys_company_inner sci ON sci.id = sdi.company_inner_id
                AND sci.del_flag = '0'
                LEFT JOIN sys_user_inner sui ON sui.company_inner_id = sci.id
                AND sui.del_flag = '0'
            WHERE
                sdi.del_flag = '0'
                <if test="dto.userId != null">
                    AND sui.id = #{dto.userId}
                </if>
                <if test="dto.name != null and dto.name != ''">
                    AND sdi.NAME LIKE concat( '%', #{dto.name}, '%' )
                </if>
                <if test="dto.companyId != null">
                    AND sci.id  = #{dto.companyId}
                </if>
                <if test="dto.parentId != null">
                    AND sdi.parent_id  = #{dto.parentId}
            </if>
            UNION
            SELECT
                sdi.id AS "id",
                sdi.parent_id AS "parentId",
                sdi.parent_ids AS "parentIds",
                sci.`name` "company"
            FROM
                sys_dept_inner sdi
                LEFT JOIN sys_company_inner sci ON sci.id = sdi.company_inner_id
                AND sci.del_flag = '0'
                LEFT JOIN sys_role_inner sri ON sri.company_inner_id = sci.id
                AND sri.del_flag = '0'
                LEFT JOIN sys_user_role_inner suri ON suri.role_inner_id = sri.id
                AND suri.del_flag = '0'
                LEFT JOIN sys_user_inner sui ON sui.id = suri.user_inner_id
                AND sui.del_flag = '0'
            WHERE
                sdi.del_flag = '0'
                <if test="dto.userId != null">
                    AND sui.id = #{dto.userId}
                </if>
                <if test="dto.name != null and dto.name != ''">
                    AND sdi.NAME LIKE concat( '%', #{dto.name}, '%' )
                </if>
                <if test="dto.companyId != null">
                    AND sci.id  = #{dto.companyId}
                </if>
                <if test="dto.parentId != null">
                    AND sdi.parent_id  = #{dto.parentId}
                </if>
            ) alls
        WHERE
            dept.del_flag = '0'
            AND (
            <![CDATA[ LOCATE( dept.id, alls.parentIds ) > 0 ]]>
            OR dept.id = alls.id
            )
        <choose>
            <when test="dto.orderBy != null and dto.orderBy != ''">
                order by ${dto.orderBy}
            </when>
            <otherwise>
                order by dept.update_date DESC
            </otherwise>
        </choose>
    </select>


    <select id="selectDeptCacheInfoByCompanyId" resultType="cn.kun.base.api.entity.auth.vo.DeptInfoVO">
        SELECT
            dept.id AS "deptId",
            dept.parent_id AS "parentId",
            dept.parent_ids AS "parentIds",
            dept.`name` AS "deptName",
            dept.company_inner_id AS "companyId"
        FROM
            sys_dept_inner dept
        WHERE dept.del_flag = '0'
            <if test="companyId != null">
                AND dept.company_inner_id = #{companyId}
            </if>
    </select>

<!-- 部门详情 -->
    <select id="detail" resultType="cn.kun.auth.dept.entity.vo.DeptDetailVO">
        SELECT
            dept.id AS "id",
            dept.parent_id AS "parentId",
            dept.parent_ids AS "parentIds",
            parent.`name` AS "parentDept",
            dept.`name` AS "name",
            dept.create_date AS "createDate",
            dept.create_name AS "createName",
            dept.update_date AS "updateDate",
            dept.update_name AS "updateName",
            dept.remarks AS "remarks",
            sci.id AS "companyId",
            sci.`name` AS "company"
        FROM
            sys_dept_inner dept
            LEFT JOIN sys_dept_inner parent ON parent.id = dept.parent_id
            AND parent.del_flag = '0'
            LEFT JOIN sys_company_inner sci ON sci.id = dept.company_inner_id
            AND sci.del_flag = '0'
        WHERE
            dept.del_flag = '0'
            <if test="id != null">
                AND dept.id = #{id}
            </if>
    </select>

    <!--     获取公司下所有部门-->
    <select id="selectDeptByCompanyIds" resultType="cn.kun.base.core.global.entity.vo.BaseSelectVO">
        SELECT
            DISTINCT
            sdi.`id` AS "value",
            sdi.`name` AS "label",
            "dept" AS "type",
            IF
            ( sdi.`parent_id` = 0, sdi.`company_inner_id`, sdi.`parent_id` ) AS "parentValue",
            sdi.`parent_ids` AS "parentValues"
        FROM
            sys_dept_inner sdi
        WHERE
            sdi.del_flag = '0'
            <if test="companyIds != null and companyIds.size > 0">
                AND sdi.company_inner_id in
                <foreach item="item" index="index" collection="companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>
</mapper>
