<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kun.auth.user.mapper.SysUserInnerMapper">
<!--    通过用户id查询用户信息-->
    <select id="getUserInfoByUserId" resultType="cn.kun.base.api.entity.auth.vo.SysUserInfoVO">
        SELECT
            sui.id userId,
            sui.login_name loginName,
            sui.`password` `password`,
            sui.`name` userName,
            sui.`status` `status`,
            sui.photo photo,
            sudi.email email,
            sudi.phone phone,
            sci.id as "companyId",
            sci.`name` as "companyName"
        FROM
        sys_user_inner sui
        LEFT JOIN sys_user_detail_inner sudi ON sui.id = sudi.user_inner_id
        AND sudi.del_flag = '0'
        LEFT JOIN sys_company_inner sci ON sci.id = sui.company_inner_id
        AND sci.del_flag = '0'
        WHERE
        <if test="userId != null and userId != '' ">
            sui.id = #{userId}
        </if>
          AND sui.del_flag = 0
    </select>

    <!--    通过用户id查询用户信息-->
    <select id="list" resultType="cn.kun.base.api.entity.auth.vo.UserDetailVO">
        SELECT
            sui.id as "id",
            sui.login_name as "loginName",
            sui.`name` as "name",
            sui.`status` as "status",
            sui.photo as "photo",
            sui.id as "companyInnerId"
        FROM
            sys_user_inner sui
        WHERE
            sui.del_flag = 0
            <if test="dto.userIdList != null and dto.userIdList.size > 0">
                AND sui.id IN
                <foreach item="item" index="index" collection="dto.userIdList"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>

<!--    分页列表查询-->
    <select id="selectPage" resultType="cn.kun.auth.user.entity.vo.UserPageVO">
        SELECT
            sui.id AS "userId",
            sui.NAME AS "name",
            sui.login_name AS "loginName",
            sui.STATUS AS "status",
            sui.remarks AS "remarks",
            sui.update_name AS "updateName",
            sui.update_date AS "updateDate",
            sudi.email as "email",
            sudi.phone as "phone",
            sci.id AS "companyId",
            sci.NAME AS "companyName",
            group_concat( sji.id ) AS "jobId",
            group_concat( sji.NAME ) AS "jobName"
        FROM
            sys_user_inner sui
            left join sys_user_detail_inner sudi on sudi.user_inner_id = sui.id
            and sudi.del_flag = '0'
            LEFT JOIN sys_company_inner sci ON sui.company_inner_id = sci.id
            AND sci.del_flag = 0
            LEFT JOIN sys_user_job_inner suji ON suji.user_inner_id = sui.id
            AND suji.del_flag = '0'
            LEFT JOIN sys_job_inner sji ON suji.job_inner_id = sji.id
            AND sji.del_flag = 0
        <where>
            sui.del_flag = 0
            AND sui.login_name &lt;&gt; 'sysadmin'
            <if test="dto.name != null and dto.name != ''">
                AND sui.`name` LIKE concat( '%', #{dto.name}, '%' )
            </if>
            <if test="dto.loginName != null and dto.loginName != ''">
                AND sui.login_name LIKE concat( '%',#{dto.loginName}, '%' )
            </if>
            <if test="dto.status != null and dto.status != ''">
                AND sui.`status` = #{dto.status}
            </if>
            <if test="dto.companyId != null">
                AND sui.company_inner_id = #{dto.companyId}
            </if>
            <if test="dto.companyList != null and dto.companyList.size > 0">
                AND sci.id IN
                <foreach item="item" index="index" collection="dto.companyList"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        group by sui.id
        </where>
        <choose>
            <when test="dto.orderBy != null and dto.orderBy != ''">
                order by ${dto.orderBy}
            </when>
            <otherwise>
                order by sui.update_date desc
            </otherwise>
        </choose>
    </select>

<!--    人员配置：获取当前用户所拥有的所有公司信息、部门信息、职位信息的用户  -->
    <select id="selectInnerPersonnelInfo" resultType="cn.kun.auth.user.entity.po.UserDetailList">
        SELECT
            DISTINCT
            sui.id as "userId",
            sui.`name` as "userName",
            sui.`login_name` as "loginName",
            sci.`id` as "companyId",
            sci.`name` as "companyName",
            sdi.`id` as "deptId",
            sdi.`name` as "deptName",
            sji.`id` as "jobId",
            sji.`name` as "jobName"
        FROM
            sys_user_inner sui
                LEFT JOIN sys_company_inner sci ON sci.id = sui.company_inner_id
                AND sci.del_flag = '0'
                LEFT JOIN sys_dept_inner sdi ON sdi.company_inner_id = sci.id
                AND sdi.del_flag = '0'
                LEFT JOIN sys_job_inner sji ON sji.dept_inner_id = sdi.id
                AND sji.del_flag = '0'
        WHERE
            sui.del_flag = '0'
            <if test="companyIds != null and companyIds.size > 0">
                AND sci.id IN
                <foreach item="item" index="index" collection="companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            GROUP BY sui.id

    </select>

    <!--    人员配置：获取当前用户所拥有的所有公司信息、部门信息、职位信息的用户  -->
    <select id="selectCompanyInfoLoginName" resultType="java.lang.String">
        SELECT
            sci.`id` AS "companyId"
        FROM
            sys_user_inner sui
                LEFT JOIN sys_company_inner sci ON sci.id = sui.company_inner_id
        WHERE
            sui.del_flag = '0' AND sci.del_flag = '0'
            <if test="loginName != null and loginName != ''">
                AND sui.login_name = #{loginName}
            </if>
        UNION
        SELECT
            sci.`id` AS "companyId"
        FROM
            sys_user_inner sui
        LEFT JOIN sys_user_role_inner suri ON suri.user_inner_id = sui.id
        AND suri.del_flag = '0'
        LEFT JOIN sys_role_inner sri ON sri.id = suri.role_inner_id
        AND sri.del_flag = '0'
        LEFT JOIN sys_company_inner sci ON sci.id = sri.company_inner_id
        WHERE
            sui.del_flag = '0' AND sci.del_flag = '0'
        <if test="loginName != null and loginName != ''">
            AND sui.login_name = #{loginName}
        </if>
    </select>
<!--    根据公司id获取所有用户-->
    <select id="selectUserInfoByCompanyId" resultType="cn.kun.base.core.global.entity.vo.BaseSelectVO">
        SELECT
            sui.`id` AS "value",
            sui.`name` AS "label",
            "user" AS "type",
            suji.job_inner_id AS "parentValue"
        FROM
            sys_user_inner sui
            LEFT JOIN sys_user_job_inner suji ON suji.user_inner_id = sui.id
            AND suji.del_flag = '0'
            LEFT JOIN sys_job_inner sji on sji.id = suji.job_inner_id
            and sji.del_flag = '0'
        WHERE
            sui.del_flag = '0'
            <if test="companyIds != null">
                AND sui.company_inner_id IN
                <foreach item="item" index="index" collection="companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>

    <!--    根据公司id获取所有用户-角色树状图组装 -->
    <select id="selectUserRoleByCompanyIds" resultType="cn.kun.base.core.global.entity.vo.BaseSelectVO">
        SELECT
            sui.`id` AS "value",
            sui.`name` AS "label",
            "user" AS "type",
            suri.role_inner_id AS "parentValue"
        FROM
            sys_user_inner sui
            LEFT JOIN sys_user_role_inner suri ON suri.user_inner_id = sui.id
            AND suri.del_flag = '0'
            LEFT JOIN sys_role_inner sri on sri.id = suri.role_inner_id
            and sri.del_flag = '0'
        WHERE
            sui.del_flag = '0'
            AND suri.role_inner_id &lt;&gt; ''
            <if test="companyIds != null">
                AND sui.company_inner_id IN
                <foreach item="item" index="index" collection="companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>

<!--    根据用户id获取用户职位、部门、公司信息-->
    <select id="getUserJobInfo" resultType="cn.kun.auth.user.entity.vo.UserJobInfoVO">
        SELECT
            sji.id AS "jobId",
            sji.`name` AS "jobName",
            sdi.id AS "deptId",
            sdi.parent_id AS "deptParentId",
            sdi.parent_ids AS "deptParentIds",
            sji.`name` AS "deptName",
            sci.id AS "companyId",
            sci.parent_id AS "companyParentId",
            sci.parent_ids AS "companyParentIds",
            sci.`name` AS "companyName"
        FROM
            sys_user_inner sui
                LEFT JOIN sys_user_job_inner suji ON suji.user_inner_id = sui.id
                AND suji.del_flag = '0'
                LEFT JOIN sys_job_inner sji ON sji.id = suji.job_inner_id
                AND sji.del_flag = '0'
                LEFT JOIN sys_dept_inner sdi ON sdi.id = sji.dept_inner_id
                AND sdi.del_flag = '0'
                LEFT JOIN sys_company_inner sci ON sci.id = sdi.company_inner_id
                AND sci.del_flag = '0'
        WHERE
            sui.del_flag = '0'
            <if test="userId != null">
                AND sui.id = #{userId}
            </if>
    </select>

    <!--    根据 项目编号 获取当前项目有多少内部用户-->
    <select id="selectUserInnerByProjectNo" resultType="cn.kun.base.api.entity.auth.vo.UserRedisVO">
        SELECT
            sui.id AS "userId",
            sui.`name` AS "userName",
            sui.login_name AS "loginName"
        FROM
            sys_user_inner sui
            LEFT JOIN sys_user_project_inner supi ON supi.user_inner_id = sui.id
            AND supi.del_flag = '0'
            LEFT JOIN sys_project sp on sp.project_no = supi.project_no
        WHERE
            sui.del_flag = '0'
                and sp.del_flag = '0'
            <if test="projectNo != null and projectNo != ''">
                AND sp.project_no =  #{projectNo}
            </if>
        UNION
        SELECT
            sui.id AS "userId",
            sui.`name` AS "userName",
            sui.login_name AS "loginName"
        FROM
            sys_user_inner sui
            LEFT JOIN sys_user_role_inner suri ON sui.id = suri.user_inner_id
            AND suri.del_flag = '0'
            LEFT JOIN sys_role_inner sri ON sri.id = suri.role_inner_id
            AND sri.del_flag = '0'
            LEFT JOIN sys_role_project_inner supi ON supi.role_inner_id = sri.id
            AND supi.del_flag = '0'
            LEFT JOIN sys_project sp on sp.project_no = supi.project_no
        WHERE
                sui.del_flag = '0'
                and sp.del_flag = '0'
            <if test="projectNo != null and projectNo != ''">
                AND sp.project_no = #{projectNo}
            </if>
    </select>

<!--    通过内部角色id查询当前角色是否绑定用户-->
    <select id="selectUserIdsByRoleInnerId" resultType="java.lang.Long">
    select
        t1.id AS id
    FROM
        sys_user_inner t1
    LEFT JOIN sys_user_role_inner t2 ON t2.user_inner_id = t1.id
    AND t2.del_flag = 0
    LEFT JOIN sys_role_inner t3 on t3.id = t2.role_inner_id
    WHERE
        t1.del_flag = 0
        and t3.del_flag = 0
    AND
        <if test="roleInnerId != null">
        t2.role_inner_id = #{roleInnerId}
        </if>
    </select>


</mapper>
