<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kun.auth.role.mapper.SysRoleInnerMapper">

<!--  通过内部角色id查询内部角色信息  -->
    <select id="getRoleInnerInfoByRoleInnerId" resultType="cn.kun.auth.role.entity.vo.SysRoleInfoVO">
        SELECT
            id roleId,
            `name` roleName,
            type roleType,
            `status` `status`,
            permission permission
        FROM
            sys_role_inner
        where
        <if test="roleInnerId != null">
            id = #{roleInnerId}
        </if>
          AND del_flag = 0
    </select>

<!--    通过内部用户id查询角色信息-->
    <select id="getRoleInnerInfoByUserInnerId" resultType="cn.kun.base.api.entity.auth.vo.RoleInfoByUserIdVO">
        SELECT
            sri.id roleId,
            sri.`name` roleName,
            sri.type roleType,
            sri.permission permission,
            sri.company_inner_id companyId,
            sci.name companyName
        FROM
            sys_role_inner sri
            LEFT JOIN sys_user_role_inner suri ON suri.role_inner_id = sri.id
            AND suri.del_flag = 0
            LEFT JOIN sys_user_inner sui on sui.id = suri.user_inner_id
            LEFT JOIN sys_company_inner sci on sci.id = sri.company_inner_id
            and sci.del_flag = 0
        WHERE
            sri.del_flag = 0
        AND sui.del_flag = 0
            <if test="userInnerId != null ">
                AND sui.id = #{userInnerId}
            </if>
    </select>

    <!--    角色详情-->
    <select id="detail" resultType="cn.kun.auth.role.entity.vo.RoleDetailVO">
        SELECT
            sri.`id` AS "id",
            sri.`name`,
            sri.type,
            sri.permission,
            sri.company_inner_id AS "companyId",
            sri.remarks AS "remarks",
            sri.create_date AS "createDate",
            sri.create_name AS "createName",
            sri.update_date AS "updateDate",
            sri.update_name AS "updateName",
            sci.`name` AS "companyName"
        FROM
            sys_role_inner sri
            LEFT JOIN sys_company_inner sci ON sci.id = sri.company_inner_id
            AND sci.del_flag = '0'
        <where>
            sri.del_flag = 0
            <if test="id != null">
                AND sri.id = #{id}
            </if>
        </where>
    </select>

<!--    角色分页列表-->
    <select id="selectPage" resultType="cn.kun.auth.role.entity.vo.RolePageVO">
        SELECT DISTINCT
            sri.`id` AS "id",
            sri.`name`,
            sri.type,
            sri.permission,
            sri.company_inner_id AS "companyId",
            sri.create_date AS "createDate",
            sri.create_name AS "createName",
            sri.update_date AS "updateDate",
            sri.update_name AS "updateName",
            sri.remarks AS "remarks",
            sci.`name` AS "companyName"
        FROM
            sys_role_inner sri
                LEFT JOIN sys_user_role_inner suri ON suri.role_inner_id = sri.id
                AND suri.del_flag = '0'
                LEFT JOIN sys_user_inner sui ON sui.id = suri.user_inner_id
                AND sui.del_flag = 0
                LEFT JOIN sys_company_inner sci ON sci.id = sri.company_inner_id
                AND sci.del_flag = '0'
        <where>
            sri.del_flag = 0
            <if test="dto.userId != null">
                AND sui.id  = #{dto.userId}
            </if>
            <if test="dto.name != null and dto.name != ''">
                AND sri.NAME LIKE concat( '%', #{dto.name}, '%' )
            </if>
            <if test="dto.type != null and dto.type != ''">
                AND sri.type = #{dto.type}
            </if>
        </where>
        <choose>
            <when test="dto.orderBy != null and dto.orderBy != ''">
                order by ${dto.orderBy}
            </when>
            <otherwise>
                order by sri.update_date desc
            </otherwise>
        </choose>
    </select>


    <!--    根据 角色id、公司id信息 获取当前角色有多少内部用户-->
    <select id="selectInnerPersonnelInfoRoleId" resultType="cn.kun.auth.user.entity.po.UserDetailList">
        SELECT DISTINCT
            sui.id AS "value",
            sui.`name` AS "userName",
            sci.`id` AS "companyId",
            sci.`name` AS "companyName",
            sdi.`id` AS "deptId",
            sdi.`name` AS "deptName",
            sji.`id` AS "jobId",
            sji.`name` AS "jobName"
        FROM
            sys_user_inner sui
            LEFT JOIN sys_user_job_inner suji ON suji.user_inner_id = sui.id
            AND suji.del_flag = '0'
            LEFT JOIN sys_job_inner sji ON sji.id = suji.job_inner_id
            LEFT JOIN sys_dept_inner sdi ON sdi.id = sji.dept_inner_id
            AND sdi.del_flag = '0'
            LEFT JOIN sys_company_inner sci ON sci.id = sui.company_inner_id
            AND sci.del_flag = '0'
            LEFT JOIN sys_user_role_inner suri ON suri.user_inner_id = sui.id
            AND suri.del_flag = '0'
            LEFT JOIN sys_role_inner sri ON sri.id = suri.role_inner_id
            AND sri.del_flag = '0'
        WHERE
            sui.del_flag = '0'
            AND sji.del_flag = '0'
            <if test="roleId != null">
                AND sri.id = #{roleId}
            </if>
            <if test="companyIds != null and companyIds.size > 0">
                AND sci.id IN
                <foreach item="item" index="index" collection="companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>

    <!--   角色-人员配置-分页-->
    <select id="personnelRoleInfoPage" resultType="cn.kun.auth.user.entity.vo.UserPersonnelPageVO">
        SELECT DISTINCT
            sui.id AS "userId",
            sui.`name` AS "userName",
            sui.`sex` AS "sex",
            sui.`login_name` AS "loginName",
            sudi.`phone` AS "phone",
            sci.`id` AS "companyId",
            sci.`name` AS "companyName",
            sji.`id` AS "jobId",
            sji.`name` AS "jobName"
        FROM
            sys_user_inner sui
            LEFT JOIN sys_user_detail_inner sudi ON sudi.user_inner_id = sui.id
            AND sudi.del_flag = '0'
            LEFT JOIN sys_user_job_inner suji ON suji.user_inner_id = sui.id
            AND suji.del_flag = '0'
            LEFT JOIN sys_job_inner sji ON sji.id = suji.job_inner_id
            AND sji.del_flag = '0'
            LEFT JOIN sys_dept_inner sdi ON sdi.id = sji.dept_inner_id
            AND sdi.del_flag = '0'
            LEFT JOIN sys_company_inner sci ON sci.id = sui.company_inner_id
            AND sci.del_flag = '0'
            LEFT JOIN sys_user_role_inner suri ON suri.user_inner_id = sui.id
            AND suri.del_flag = '0'
            LEFT JOIN sys_role_inner sri ON sri.id = suri.role_inner_id
            AND sri.del_flag = '0'
        WHERE
        sui.del_flag = '0'
        AND sui.login_name &lt;&gt; 'sysadmin'
        AND sui.login_name &lt;&gt; #{loginName}
            <if test="dto.roleId != null">
                AND sri.id = #{dto.roleId}
            </if>
            <if test="dto.companyIds != null and dto.companyIds.size > 0">
                AND sci.id IN
                <foreach item="item" index="index" collection="dto.companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        GROUP BY
        sui.id
    </select>

<!--    查询用户-角色权限-->
    <select id="selectListByUserId" resultType="cn.kun.base.core.global.entity.vo.BaseSelectVO">
        SELECT
            sri.id as "value",
            sri.`name` AS "label",
            "role" AS "type",
            sri.company_inner_id as "parentValue"
        FROM
        sys_role_inner sri
        <if test="userId != null">
        LEFT JOIN sys_user_role_inner suri ON suri.role_inner_id = sri.id
        AND suri.del_flag = 0
        LEFT JOIN sys_user_inner sui on sui.id = suri.user_inner_id
        </if>
        LEFT JOIN sys_company_inner sci on sci.id = sri.company_inner_id
        and sci.del_flag = 0
        WHERE
         sri.del_flag = 0
        <if test="userId != null">
            and sui.del_flag = 0
            AND suri.user_inner_id = #{userId}
        </if>
    </select>

    <!--    查询用户-根据公司获取角色信息-->
    <select id="selectRoleInfoByCompanyIds" resultType="cn.kun.base.core.global.entity.vo.BaseSelectVO">
        SELECT
            sri.`id` AS "value",
            sri.`name` AS "label",
            "role" AS "type",
            sci.id AS "parentValue"
        FROM
            sys_role_inner sri
            LEFT JOIN sys_company_inner sci ON sci.id = sri.company_inner_id
            AND sci.del_flag = '0'
        WHERE
            sri.del_flag = '0'
            <if test="companyIds != null">
                AND sri.company_inner_id in
                <foreach item="item" index="index" collection="companyIds"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>
</mapper>
